
$font-path: "../assets/fonts";



$app-direction: ltr;


@import "ionic.globals";



$colors: (
  primary:    #6495ed,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  turquase: #00CED1,
  muxnato:#00FFFF,
  magic:#ffffff,
);

//Top-toolbar
$toolbar-md-background: color($colors, dark);
//bottom
$tabs-md-background: color($colors, turquase);



@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
